/* GLOBAL STYLES 
-----------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

b, strong, optgroup {
  font-weight: 700;
}

pre, textarea {
  overflow: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  z-index: 100;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* HOME
-----------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

.headwrap {
  background: url(img/laptop-book.jpg) no-repeat fixed center;
  opacity: 0.95;
  background-size: cover;
  width: 100%;
  height: 1200px;
  position: relative;
}
.headwrap .headwrapContainer {
  margin: 0 auto;
  width: 100%;
}
.headwrap .headwrapContainer .head {
  text-align: center;
  line-height: 0.9;
  height: 185px;
  width: 44%;
  background: #27AE60;
  opacity: 0.8;
  padding: 20px 35px;
  color: white;
  position: fixed;
  z-index: -200;
  top: 37%;
  left: 28%;
  border: 1px solid grey;
}
.headwrap .headwrapContainer .head h1 {
  font-size: 4.1rem;
  letter-spacing: 5px;
  font-weight: 400;
}
.headwrap .headwrapContainer .head h2 {
  font-size: 2.9rem;
  font-weight: 300;
}

/* NAV
-----------------*/
.nav {
  background: rgba(55, 52, 37, 0.6);
  border: 1px solid grey;
}
.nav ul li {
  display: inline-block;
  padding: 1% 0 1% 3%;
}
.nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: all 0.7s linear;
}
.nav ul li a:hover {
  color: #2ed77a;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.nav ul li a:active {
  color: #2ed77a;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

ul.social {
  position: fixed;
  top: 0;
  right: 6%;
  min-width: 350px;
}
ul.social li {
  padding-left: 6%;
  float: right;
}
ul.social #menu-item-77 {
  padding-top: 4px;
}
ul.social #menu-item-77 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -16px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-77 a:hover {
  color: #27AE60;
}
ul.social #menu-item-78 {
  padding-top: 4px;
}
ul.social #menu-item-78 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -78px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-79 {
  padding-top: 4px;
}
ul.social #menu-item-79 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -141px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-80 {
  padding-top: 4px;
}
ul.social #menu-item-80 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -203px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}

/* ABOUT
-----------------*/
#about {
  background: url(img/about-background.png) repeat-y;
  background-size: 100%;
}
#about h2 {
  font-size: 3.7rem;
  margin: 3% 0 12% 0;
}
#about .aboutcontainer {
  max-width: 1240px;
  margin: 0 auto;
}
#about .titlecontainer {
  float: left;
  width: 18%;
  margin-top: 18%;
}
#about .titlecontainer h2.leftTitle {
  letter-spacing: 5px;
  font-size: 3.8rem;
  color: #1c4226;
  text-align: center;
}
#about img {
  width: 33%;
  height: auto;
  float: left;
  margin-right: 5%;
  border: 1px solid grey;
}
#about .content {
  width: 82%;
  padding: 9% 11%;
  display: block;
  float: left;
  margin: auto;
}
#about .content p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #112c1c;
  font-weight: 300;
  max-width: 830px;
}
#about .content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #112c1c;
  padding-top: 1%;
}

#skills {
  background: url(img/skills-background1.png) repeat-y;
  background-size: 100%;
  position: relative;
  z-index: 100;
}
#skills .skillscontainer {
  width: 100%;
  margin: 0 auto;
}
#skills .skillsTitleContainer {
  float: left;
  width: 18%;
  margin-top: 18%;
}
#skills .skillsTitleContainer h2.rightTitle {
  letter-spacing: 5px;
  font-size: 3.8rem;
  margin: 0;
  color: #1c4226;
  text-align: center;
}
#skills .skillsicons {
  width: 82%;
  float: left;
  padding: 10% 0;
  margin: 0 auto;
}
#skills .front-end {
  float: left;
  width: 26.5%;
  margin-left: 7.5%;
  margin-right: 2%;
  text-align: center;
}
#skills .front-end img {
  width: 90%;
  height: auto;
  padding-bottom: 28px;
  padding-left: 40px;
}
#skills .front-end ul {
  text-align: center;
}
#skills .front-end ul h3 {
  font-size: 2rem;
}
#skills .front-end ul li {
  list-style: none;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
#skills .design {
  float: left;
  width: 26.5%;
  text-align: center;
}
#skills .design img {
  width: 85%;
  height: auto;
  padding: 10px 0 30px 35px;
}
#skills .design ul {
  text-align: center;
}
#skills .design ul h3 {
  font-size: 2rem;
}
#skills .design ul li {
  list-style: none;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
#skills .writing {
  float: left;
  width: 26.5%;
  text-align: center;
  margin-right: 0;
}
#skills .writing img {
  width: 85%;
  height: auto;
  padding: 2px 0 30px 35px;
}
#skills .writing ul {
  text-align: center;
}
#skills .writing ul h3 {
  font-size: 2rem;
}
#skills .writing ul li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#portfolio {
  background: url(img/portfolio-background.png) repeat-y;
  background-size: 100%;
  z-index: 100;
  position: relative;
}
#portfolio .portfolioSectionContainer {
  margin: 0 auto;
}
#portfolio .portfolioSectionContainer h2.main {
  letter-spacing: 5px;
  font-size: 3.8rem;
  color: #1c4226;
  text-align: center;
  margin: 0;
  padding: 10% 0 3% 0;
}

.portfolioTitleContainer {
  width: 18%;
  float: left;
  margin: 25% auto;
}
.portfolioTitleContainer h2.leftTitle {
  letter-spacing: 5px;
  font-size: 3rem;
  color: #1c4226;
  text-align: center;
}

.portfoliocontainer {
  float: left;
  width: 81%;
  margin: 5% auto 8%;
}
.portfoliocontainer .thumbnails {
  width: 35%;
  height: auto;
  float: left;
  margin-top: 3%;
}
.portfoliocontainer .thumbnails h3 {
  text-align: center;
  font-size: 2rem;
  margin: 5% 0 2% 0;
}
.portfoliocontainer .thumbnails p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}
.portfoliocontainer .thumbnails .projects {
  position: relative;
  overflow: hidden;
}
.portfoliocontainer .thumbnails .projects img {
  -webkit-transform: scale(1, 1);
  transition: all 1.5s ease-in-out;
  border: 2px solid #bda64c;
  border-radius: 6px;
}
.portfoliocontainer .thumbnails .projects .mask {
  background-color: #f7ce7a;
  transition: all 0.5s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.portfoliocontainer .thumbnails .projects .mask img.link {
  width: 30%;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: all 1s linear;
  opacity: 0;
  border: 0px;
}
.portfoliocontainer .thumbnails .projects:hover img {
  -webkit-transform: scale(6, 6);
  opacity: 0;
}
.portfoliocontainer .thumbnails .projects:hover .mask {
  opacity: 0.7;
}
.portfoliocontainer .thumbnails .projects:hover img.link {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  opacity: 1;
  margin: 16% 0 0 33%;
}
.portfoliocontainer .thumbnails .thumbnailSize {
  width: 100%;
  height: auto;
}
.portfoliocontainer .thumbnails:nth-child(2n+1) {
  margin-right: 8%;
  margin-left: 11%;
}
.portfoliocontainer .thumbnails:nth-child(n+3) {
  margin-top: 5%;
}

#contact {
  background: url(img/cellphone4.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
}
#contact .contactcontainer {
  margin: 0 auto;
  width: 100%;
  padding: 1% 0 2.5% 0;
}
#contact .contactcontainer .contactTittleWrap {
  padding: 5% 0 3% 0;
}
#contact .contactcontainer .contactTittleWrap h2 {
  height: 90px;
  width: 24%;
  padding: 20px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 3.8rem;
  margin: 0 auto;
  color: white;
  border: 1px solid #27AE60;
}

#post-93 p {
  color: white;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
}
#post-93 p.findMeOnline {
  font-size: 1.8rem;
  margin: 3% 0 2% 0;
}

ul.contactSocial {
  background-color: rgba(255, 255, 255, 0.2);
  width: 45%;
  margin: 1% auto;
  border-radius: 10px;
  text-align: center;
}
ul.contactSocial li {
  display: inline;
  list-style: none;
}
ul.contactSocial li i {
  color: black;
  padding: 4% 14% 4% 4%;
}
ul.contactSocial li i:hover {
  color: #166a3b;
}

.email {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 15%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1% 0;
}
.email i {
  color: black;
}
.email i:hover {
  color: #166a3b;
}

p.copyright {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  background-color: rgba(39, 174, 96, 0.8);
  margin: 0;
  padding: 1% 0;
}

/* Responsive
-----------------*/
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .headwrap .headwrapContainer .head {
    height: 125px;
    width: 44%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 2.4rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  ul.social {
    display: none;
  }

  .nav ul {
    text-align: center;
    padding: 0;
  }
  .nav ul li {
    padding: 1% 4% 1% 1%;
  }

  .portfolioTitleContainer {
    margin: 30% 0 0 0;
  }
  .portfolioTitleContainer h2.leftTitle {
    letter-spacing: 5px;
    font-size: 1.8rem;
    color: #1c4226;
    margin-left: 5%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 770px) {
  .headwrap .headwrapContainer .head {
    height: 115px;
    width: 45%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 2.4rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .nav ul li a {
    font-size: 1.5rem;
  }

  #about {
    background: url(img/about-background.png) repeat-y -150px 0px;
  }
  #about h2.leftTitle {
    display: none;
  }

  .content img {
    margin-bottom: 10%;
  }
  .content p, .content h3 {
    clear: both;
  }
  .content h3 {
    padding-top: 10%;
    font-size: 1.4rem;
  }
  .content h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
  }

  #post-50 img {
    width: 50%;
    margin-left: 22%;
  }

  #skills {
    background: url(img/skills-background1.png) repeat-y -350px 0px;
  }
  #skills h2.rightTitle {
    display: none;
  }
  #skills .skillsicons {
    width: 90%;
    padding: 0;
  }
  #skills .skillsicons h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0 0 0 0;
    color: #1c4226;
    margin-top: 15%;
  }
  #skills .skillsicons .front-end {
    width: auto;
    margin: 7% 0;
  }
  #skills .skillsicons .front-end img {
    width: 50%;
    margin: 5% 0 0 0;
  }
  #skills .skillsicons .design {
    width: auto;
    margin: 0 0 4% 3%;
    clear: both;
  }
  #skills .skillsicons .design img {
    width: 50%;
    height: auto;
  }
  #skills .skillsicons .writing {
    width: auto;
    clear: both;
  }
  #skills .skillsicons .writing img {
    width: 50%;
    height: auto;
    padding: 10px 0 20px 35px;
  }

  #portfolio {
    background: url(img/portfolio-background.png) repeat-y -150px 0px;
  }
  #portfolio .portfolioSectionContainer h2.main {
    padding: 10% 7% 3% 0;
  }
  #portfolio h2.leftTitle {
    display: none;
  }
  #portfolio .thumbnails {
    width: 51%;
    height: auto;
    margin: 5% 0 5% 20%;
  }
  #portfolio .thumbnails h3 {
    text-align: center;
    font-size: 2rem;
    margin: 5% 0 2% 0;
  }
  #portfolio .thumbnails p {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
  }
  #portfolio .thumbnails:nth-child(2n+1) {
    margin: 5% 0 5% 20%;
  }
  #portfolio .thumbnails:nth-child(n+3) {
    margin: 5% 0 5% 20%;
  }

  #contact .contactcontainer .contactTittleWrap h2 {
    color: white;
    width: 80%;
  }
  #contact ul.contactSocial {
    width: 60%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .headwrap {
    background: white;
    opacity: 0.95;
    width: 100%;
    height: 700px;
    position: relative;
  }
  .headwrap .headwrapContainer .head {
    width: 100%;
    background: white;
    border: none;
    top: 40%;
    left: 0;
  }
  .headwrap .headwrapContainer .head h1 {
    color: #145e34;
    font-size: 2.8rem;
  }
  .headwrap .headwrapContainer .head h2 {
    color: #145e34;
    font-size: 2.2rem;
  }

  .nav {
    background-color: rgba(39, 174, 96, 0.9);
  }
  .nav ul .menu-item-91 {
    display: none;
  }
  .nav ul li a {
    font-size: 1.6rem;
    transition: all 0.9s linear;
  }
  .nav ul li a:hover {
    color: white;
    -webkit-transform: none;
    transform: none;
  }

  #about {
    background: url(img/about-background.png) repeat-y -180px 0px;
  }

  #skills {
    background: url(img/skills-background1.png) repeat-y -670px 0px;
  }
  #skills .skillsicons {
    width: 86%;
    padding: 10% 0;
  }
  #skills .skillsicons .writing, #skills .skillsicons .design, #skills .skillsicons .front-end {
    width: 90%;
    padding-top: 10%;
  }
  #skills .skillsicons .writing img, #skills .skillsicons .design img, #skills .skillsicons .front-end img {
    width: 70%;
  }

  #portfolio {
    display: none;
  }

  #contact p {
    display: none;
  }
  #contact ul.contactSocial {
    width: 95%;
    margin-top: 10%;
  }
  #contact .email {
    width: 25%;
    margin-top: 5%;
  }

  #contact {
    height: 430px;
  }
  #contact .contactcontainer .contactTittleWrap h2 {
    width: 80%;
  }
  #contact .contactcontainer i {
    color: black;
    padding: 4% 10% 4% 4%;
  }
}
@media (min-width: 480px) and (max-width: 748px) {
  .headwrap .headwrapContainer .head {
    height: 80px;
    width: 50%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    display: none;
  }
}
@media (min-width: 940px) and (max-width: 1140px) {
  .headwrap .headwrapContainer .head {
    height: 145px;
    width: 45%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 3.1rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  #about h2 {
    font-size: 3rem;
    color: #1c4226;
  }

  #skills h2.rightTitle {
    font-size: 3rem;
    top: 42%;
  }

  .portfolioTitleContainer {
    margin: 28% 0 0 0;
  }
  .portfolioTitleContainer h2.leftTitle {
    letter-spacing: 5px;
    font-size: 2.2rem;
    color: #1c4226;
    margin-left: 5%;
  }
}
@media (min-width: 770px) and (max-width: 940px) {
  #about h2 {
    font-size: 2.4rem;
    color: #1c4226;
  }

  #skills h2.rightTitle {
    font-size: 2.4em;
    top: 40%;
  }

  .skillsicons ul li {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 2000px) {
  .content h2 {
    display: none;
  }

  .skillsicons h2 {
    display: none;
  }

  .portfolioSectionContainer h2.main {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 1100px) {
  #contact .contactcontainer .contactTittleWrap h2 {
    color: white;
    border: none;
  }
}
@media (min-width: 1300px) and (max-width: 1900px) {
  #about .titlecontainer {
    margin-top: 16%;
  }
}
