/* GLOBAL STYLES 
-----------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

b, strong, optgroup {
  font-weight: 700;
}

pre, textarea {
  overflow: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  z-index: 100;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* HOME
-----------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

.headwrap {
  background: url(img/laptop-book.jpg) no-repeat fixed center;
  opacity: 0.95;
  background-size: cover;
  width: 100%;
  height: 1200px;
  position: relative;
}
.headwrap .headwrapContainer {
  margin: 0 auto;
  max-width: 90%;
  width: 1240px;
}
.headwrap .headwrapContainer .head {
  text-align: center;
  line-height: 0.9;
  height: 185px;
  width: 44%;
  background: #27AE60;
  opacity: 0.8;
  padding: 20px 35px;
  color: white;
  position: fixed;
  z-index: -200;
  top: 37%;
  left: 28%;
  border: 1px solid grey;
}
.headwrap .headwrapContainer .head h1 {
  font-size: 4.1rem;
  letter-spacing: 5px;
  font-weight: 400;
}
.headwrap .headwrapContainer .head h2 {
  font-size: 2.9rem;
  font-weight: 300;
}

/* NAV
-----------------*/
.nav {
  background: rgba(55, 52, 37, 0.6);
  border: 1px solid grey;
}
.nav ul li {
  display: inline-block;
  padding: 1% 0 1% 3%;
}
.nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: all 0.7s linear;
}
.nav ul li a:hover {
  color: #2ed77a;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.nav ul li a:active {
  color: #2ed77a;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

ul.social {
  position: fixed;
  top: 0;
  right: 6%;
  min-width: 350px;
}
ul.social li {
  padding-left: 6%;
  float: right;
}
ul.social #menu-item-77 {
  padding-top: 4px;
}
ul.social #menu-item-77 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -16px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-77 a:hover {
  color: #27AE60;
}
ul.social #menu-item-78 {
  padding-top: 4px;
}
ul.social #menu-item-78 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -78px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-79 {
  padding-top: 4px;
}
ul.social #menu-item-79 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -141px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-80 {
  padding-top: 4px;
}
ul.social #menu-item-80 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -203px -3px;
  display: inline-block;
  width: 42px;
  height: 41px;
}

/* ABOUT
-----------------*/
.aboutcontainer {
  max-width: 1240px;
  margin: 0 auto;
}

.titlecontainer {
  float: left;
  width: 18%;
  margin: 17% 5% 0 2.5%;
}

#about {
  background: url(img/about-background.png) repeat-y;
  background-size: 100%;
  height: 610px;
}
#about h2 {
  letter-spacing: 5px;
  font-size: 3.8rem;
  color: #1c4226;
}

#post-50 {
  float: left;
  width: 100%;
  margin-top: 5%;
}
#post-50 img {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 5%;
  border: 1px solid grey;
}

.content {
  width: 65%;
  padding-top: 7%;
  display: block;
  float: left;
}
.content p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #112c1c;
  font-weight: 300;
}
.content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #112c1c;
  padding-top: 1%;
}

.skillscontainer {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

#skills {
  background: url(img/skills-background1.png) no-repeat;
  background-size: 100%;
  height: 610px;
}
#skills h2 {
  position: relative;
  top: 45%;
  left: 86%;
  letter-spacing: 5px;
  font-size: 3.8rem;
  margin: 0;
  color: #1c4226;
  max-width: 200px;
}

.skillsicons {
  width: 85%;
  float: left;
}

.front-end {
  float: left;
  width: 27%;
  text-align: center;
  margin-top: 8%;
}
.front-end img {
  width: 90%;
  height: auto;
  padding-bottom: 28px;
  padding-left: 40px;
}
.front-end ul {
  text-align: center;
}
.front-end ul h3 {
  font-size: 2rem;
}
.front-end ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
}

.design {
  float: left;
  width: 27%;
  text-align: center;
  margin-left: 5%;
  margin-top: 8%;
  margin-right: 2%;
}
.design img {
  width: 85%;
  height: auto;
  padding: 10px 0 30px 35px;
}
.design ul {
  text-align: center;
}
.design ul h3 {
  font-size: 2rem;
}
.design ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
  font-style: light;
}

.writing {
  float: left;
  width: 27%;
  text-align: center;
  margin-right: 0;
  margin-top: 8%;
}
.writing img {
  width: 85%;
  height: auto;
  padding: 2px 0 30px 35px;
}
.writing ul {
  text-align: center;
}
.writing ul h3 {
  font-size: 2rem;
}
.writing ul li {
  list-style: none;
  font-size: 15px;
  line-height: 25px;
}

#portfolio {
  background: url(img/portfolio-background.png) no-repeat;
  background-size: 100%;
  z-index: 100;
  height: 675px;
  position: relative;
}
#portfolio h2 {
  position: relative;
  top: 43%;
  left: 1.5%;
  letter-spacing: 5px;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  max-width: 200px;
  color: #1c4226;
}

.portfoliocontainer {
  max-width: 950px;
  margin-left: 22%;
}
.portfoliocontainer .thumbnails {
  width: 30%;
  height: auto;
  float: left;
  margin-top: 17%;
  border: 2px solid #bda64c;
  border-radius: 6px;
}
.portfoliocontainer .thumbnails .projects {
  position: relative;
  overflow: hidden;
}
.portfoliocontainer .thumbnails .projects img {
  -webkit-transform: scale(1, 1);
  transition: all 1.5s ease-in-out;
}
.portfoliocontainer .thumbnails .projects .mask {
  background-color: #f7ce7a;
  transition: all 0.5s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.portfoliocontainer .thumbnails .projects .mask h3 {
  padding-top: 8%;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
  -webkit-transform: scale(0, 0);
  color: black;
  transition: all 1s linear;
  opacity: 0;
  max-width: 200px;
}
.portfoliocontainer .thumbnails .projects .mask p {
  -webkit-transform: scale(0, 0);
  color: black;
  transition: all 1s linear;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
  max-width: 200px;
}
.portfoliocontainer .thumbnails .projects:hover img {
  -webkit-transform: scale(6, 6);
  opacity: 0;
}
.portfoliocontainer .thumbnails .projects:hover .mask {
  opacity: 1;
}
.portfoliocontainer .thumbnails .projects:hover h3 {
  -webkit-transform: scale(1.2, 1.2);
  opacity: 1;
  max-width: 150px;
  padding-bottom: 25%;
  letter-spacing: 1px;
}
.portfoliocontainer .thumbnails .projects:hover p {
  -webkit-transform: scale(1.2, 1.2);
  opacity: 1;
  max-width: 200px;
}
.portfoliocontainer .thumbnails .thumbnailSize {
  width: 100%;
  height: auto;
}
.portfoliocontainer .thumbnails:nth-child(3n+2) {
  margin-right: 5%;
  margin-left: 5%;
}

#contact {
  background: url(img/cellphone4.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  height: 610px;
}
#contact .contactcontainer {
  margin: 0 auto;
  max-width: 90%;
  width: 1240px;
}
#contact .contactcontainer .tittleWrap {
  height: 90px;
  width: 24%;
  padding: 20px;
  color: white;
  z-index: -100;
  border: 1px solid grey;
  margin: 0 auto;
  position: absolute;
  top: 8%;
  left: 36%;
}
#contact .contactcontainer .tittleWrap h2 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 3.8rem;
  margin: 0 auto;
  color: white;
}

#post-93 {
  padding-top: 15%;
  padding-right: 5%;
}
#post-93 h3 {
  color: white;
  text-align: center;
  font-size: 2.4rem;
}
#post-93 p {
  color: white;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
}

ul.contactSocial {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 370px;
  margin: 3% auto;
  border-radius: 10px;
}
ul.contactSocial li {
  display: inline;
  list-style: none;
}
ul.contactSocial li i {
  color: black;
  padding: 4% 14% 4% 4%;
}
ul.contactSocial li i:hover {
  color: #1c8248;
}

.email {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1% 0;
}
.email i {
  color: black;
}
.email i:hover {
  color: #1c8248;
}

p.copyright {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  background-color: black;
  margin: 0;
  padding: 1% 0;
}

 /* Responsive
-----------------*/
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .headwrap .headwrapContainer .head {
    height: 125px;
    width: 44%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 2.4rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  ul.social {
    display: none;
  }

  .nav ul {
    text-align: center;
    padding: 0;
  }
  .nav ul li {
    padding: 1% 4% 1% 1%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 770px) {
  .headwrap .headwrapContainer .head {
    height: 115px;
    width: 45%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 2.4rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .nav ul li a {
    font-size: 1.5rem;
  }

  #about {
    background: url(img/about-background.png) repeat-y -150px 0px;
    height: 850px;
  }
  #about h2.leftTitle {
    display: none;
  }

  .content p, .content h3 {
    clear: both;
  }
  .content h3 {
    padding-top: 10%;
  }
  .content h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    margin-top: 7%;
  }

  #post-50 img {
    width: 50%;
    margin-left: 23%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .headwrap .headwrapContainer .head {
    height: 115px;
    width: 45%;
  }
  .headwrap .headwrapContainer .head h1 {
    display: none;
  }
  .headwrap .headwrapContainer .head h2 {
    display: none;
  }

  .nav {
    background-color: rgba(39, 174, 96, 0.9);
  }
  .nav ul li a {
    font-size: 2rem;
    transition: all 0.9s linear;
  }
  .nav ul li a:hover {
    color: #183d11;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  #about {
    background: url(img/about-background.png) repeat-y -180px 0px;
    height: 800px;
  }
}
@media (min-width: 480px) and (max-width: 748px) {
  .headwrap .headwrapContainer .head {
    height: 80px;
    width: 50%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    display: none;
  }
}
@media (min-width: 940px) and (max-width: 1140px) {
  .headwrap .headwrapContainer .head {
    height: 145px;
    width: 45%;
  }
  .headwrap .headwrapContainer .head h1 {
    font-size: 3.1rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .headwrap .headwrapContainer .head h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  #about h2 {
    font-size: 3rem;
    color: #1c4226;
  }

  .titlecontainer {
    float: left;
    width: 18%;
    margin: 22% 5% 0 2.5%;
  }
}
@media (min-width: 770px) and (max-width: 940px) {
  #about h2 {
    font-size: 2.5rem;
    color: #1c4226;
  }

  .titlecontainer {
    float: left;
    width: 18%;
    margin: 25% 5% 0 2.5%;
  }
}
@media (min-width: 768px) and (max-width: 2000px) {
  .content h2 {
    display: none;
  }
}
