/* GLOBAL STYLES 
-----------------*/
* {-moz-box-sizing:border-box; box-sizing: border-box;}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],/* 1 */ input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}b,strong,optgroup{font-weight:700;}pre,textarea{overflow:auto;}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;}

html {
	font-size: 62.5%;
}


body{
	//quick hack
	overflow-x:hidden;
	font-family: 'Lato', sans-serif;
}

$logo: 'JennaSue';


@mixin importfont($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$font-filename}.eot');
		src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-filename}.woff') format('woff'),
		url('#{$font-filename}.ttf') format('truetype'),
		url('#{$font-filename}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

.main {
	position:relative;
	z-index: 100;
	padding:0;
	width:100%;
	height:100%;
	
}
 

/* HOME
-----------------*/



.header {
	position:fixed;
	width:100%;
	top:0;
	z-index:200;
}


.headwrap {
	background: url(img/laptop-book.jpg) no-repeat fixed center; 
	opacity:0.95;
	background-size:cover;
	width:100%;
	height:1200px;
	position:relative;

	.headwrapContainer {
		margin:0 auto;
		max-width:90%;
		width:1240px;
		
    
	    .head {
		   text-align: center;
		   line-height:0.9;
		   height:185px;
		   width:42%;
		   background:#27AE60;
		   opacity:0.8;
		   padding:20px 35px;
		   color:white;
		   position:fixed;
		   z-index:-200;
		   top:37%;
		   left:28%;
		   border: 1px solid grey;


			h1 {
		       font-size: 4.1rem;
		       letter-spacing: 5px;
		       font-weight: 400;
			}

			h2 {
		       font-size: 2.9rem;
		       font-weight: 300;
			}
		}
	}
}

/* NAV
-----------------*/

.nav {
		background:rgba(#373425, 0.6);
	    border: 1px solid grey;


	ul {
		

	   li {
	   		display:inline-block;
	   		padding: 1% 0 1% 3%;
	   		

	   		a {
	   			
	   			text-decoration:none;
	   			font-size:2rem;
	   			color:white;
	   			font-weight:300;
	   			-webkit-transform:scale (1,1);
	   			transition:all 1s linear;
	   		}
	   			a:hover { color:#2ed77a;
	   					  -webkit-transform:scale (4,4)
	   			 }
	    }
	}
}

// #menu-item-44 {
// 				padding:5px 0 -5px 0;

// 				a {
// 				  font-family:Arial;
// 				  font-size:4rem;
// 				  line-height:1rem;
// 				  letter-spacing:3px;
// 				  color:#27AE60;
// 				  font-weight:bold;
// 				}
// 			}	

ul.social {
	position:fixed;
	top:0;
	right:7%;
	min-width:350px;
	


	li {
		padding-left:6%;
		float:right;
	}
	
	#menu-item-77 {
		padding-top:4px;


		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -16px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
		a:hover {
			color: #27AE60;
		}
	}

	#menu-item-78 {
		// float:right;
		padding-top:4px;
		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -78px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}

	#menu-item-79 {
		// float:right;
		padding-top:4px;

		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -141px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}

	#menu-item-80 {
		
		padding-top:4px;

		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -203px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}
}

/* ABOUT
-----------------*/

article.post-50{
	max-width:1240px;
	margin: 0 auto;
}

#about {
background:url(img/about-background.png) no-repeat;
background-size:100%;
z-index:100;
height:610px;


	h2 {
		position:relative;
		top:45%;
		left:3.5%;
		letter-spacing: 5px;
		font-size:3.8rem;
		margin:0;
		color:#1c4226;	
		max-width:200px;
	}
}

// img.cover {
//      width:50%;
//      height:40%;
//      position:absolute;
//      top:200px;
//      left:500px; 
// } 

// .box {
// 	background-color: black; 
// 	 opacity:0.4;
// 	 width:50%;
//      height:40%;
//      position:absolute;
//      top:200px;
//      left:500px;
// }
// .box::after {

// }

	#post-50 {
		img {
			width:20%;
			height:80%;
			float:left;
			margin:8% 5% 5% 22%;
			border: 1px solid grey;
		
		}

		.content {
				padding-top:7%;
				display:block;

				

			p {
				font-size:1.4rem;
				margin:1% 10% 0 0;
				line-height:1.4;
				color:#112c1c;
				font-weight:300;
			}
			
			h3 {
		 		font-size:1.5rem;
		 		font-weight:500;
		 		color:#112c1c;
			}
		}
	 }


.skillscontainer {
	
	max-width: 1240px;
	width:100%;
	margin: 0 auto;
	
}

#skills {
	
	background:url(img/skills-background1.png) no-repeat;
	background-size:100%;
	height:610px;
	// border-top:1px solid #98DBD0;
	
	h2 {
		position:relative;
		top:45%;
		left:86%;
		letter-spacing: 5px;
		font-size:3.8rem;
		margin:0;
		color:#1c4226;
		max-width:200px;
		}
}



.skillsicons {
	width:85%;
	float:left;
}

.front-end {
	float:left;
	width:27%;
	text-align: center; 
	margin-top:8%;
	
		img {
			width:90%;
			height:auto;
			padding-bottom: 28px;
			padding-left:40px;
		} 

	    ul {
			text-align: center;
	    	h3 {
			font-size:2rem;
			}
		    li {
				list-style: none;
				// font-family: 'Source Sans Pro', sans-serif;	
				line-height: 25px;
				font-size: 15px;
			}
	    }
}

	
.design {
	float:left;
	width:27%;
	text-align: center;
	margin-left:5%;
	margin-top:8%;
	margin-right:2%;

		img {
			width:85%;
			height:auto;	
			padding: 10px 0 30px 35px;
		} 

		ul {
			text-align: center;
				
			h3 {
			font-size:2rem;
			   }
				
			li {
			list-style: none;
			line-height: 25px;
			font-size: 15px;
			font-style: light;	
			}
		}
}


	.writing {
		float:left;
		width:27%;
		text-align: center;
		margin-right:0;
		margin-top:8%;

	 
			img {
				width:85%;
				height:auto;
				padding: 2px 0 30px 35px;
			}	

			ul {
			text-align: center;
		    	h3 {
					font-size:2rem;
					}
				li { 
					list-style: none;
					font-size: 15px;
					line-height: 25px;
					}
			}
	}
		
#portfolio {
background:url(img/portfolio-background.png) no-repeat;
background-size:100%;
z-index:100;
height:675px;
// border-top: 1px solid #58D08A;
position:relative;


	h2 {
		position:relative;
		top:45%;
		left:2%;
		letter-spacing: 5px;
		text-align:center;
		font-size:3.2rem;
		margin:0;	
		max-width:200px;
		color:#1c4226	
	}
}

.portfoliocontainer {
	
	max-width:1000px;
	margin-left:24%;


	// .portfoliothumbs {
	// width:85%;
	// float:left;
	// }
	.thumbnails {
		
		width:30%;
		float:left;
		margin-top:17%;
		border:1px solid #0c371f;
		border-radius:5px;



			.projects {
				position:relative;
				overflow:hidden;


				img {
					-webkit-transform:scale(1,1);
					transition: all 1.5s ease-in-out;
				}
				.mask {
					background-color:rgba(247,206,122,1);
					transition: all 0.5s linear;
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
					opacity:0;

						h3  {
							padding-top:8%;
							letter-spacing:3px;
							text-align:center;
							font-size:2rem;
							margin:0;
							-webkit-transform:scale(0,0);
							color:black;
							transition:all 1s linear;
							opacity:0;
						}
						p  {
							-webkit-transform:scale(0,0);
							color:black;
							transition:all 1s linear;
							font-size:1.5rem;
							text-align:center;
							opacity:0;
						}

				}	

			}
			.projects:hover {
				img{
					-webkit-transform:scale(6,6);
					opacity:0;
				}
				.mask{
					opacity:1;
				}
				h3, p {
					-webkit-transform:scale(1.5,1.5);
					opacity:1;
				}	
					
			}
		
			.thumbnailSize {
				width:100%;
				height:auto;
			}
				
	}	
		.thumbnails:nth-child(3n+2){
			margin-right:5%;
			margin-left:5%;
		}
}

	// .thumbnails:nth-child(n+3) {
	// margin-left:15%;
	// }

#contact {
background:url(img/cellphone4.png)no-repeat;
background-size:cover;
position:relative;
z-index:100;
height:750px;
	
	.contactcontainer {
		margin:0 auto;
		max-width:90%;
		width:1240px;

	
		.tittleWrap {
			   
			   height:90px;
			   width:24%;
			   // opacity:0.8;
			   padding: 20px;
			   color:white;
			   z-index:-100;
			   border: 1px solid grey;
			   margin: 0 auto;
			   position:absolute;
			   top:13%;
			   left:36%;


			h2 {
				
				letter-spacing: 5px;
				text-align:center;
				font-size:3.8rem;
				margin:0 auto;	
				color:white;

			}
		}
	}
}

 #post-93 {
 	padding-top:18%;
 	padding-right:5%;
 	h3 {
 		color: white;
 		text-align:center;
 		font-size:2.4rem;
 	}
 	p {
		color: white;
 		text-align:center;
 		font-size:2rem;
 		font-weight:300;
 	}
 }

	
	

	
	
